body{
    background-color: #E7E7E7;
}
.div1{
    width: auto;
    height: 100px;
    background: linear-gradient(to right, #ff512f, #dd2476);
    border-radius: 30px;
}
.txt1{
    margin-top: -65px;
    margin-left: 65px;
}
.txt2{
    position: relative;
    margin-left: 400px;
    margin-top: -50px;
    color: black;
    transition: 0.5s;
}
.txt2:hover{
    color: white;
}
.txt{
    margin-top: 70px;
    width: 800px;
}
.time{
    margin-top: 70px;
}
.ft1{
    border-radius: 30px;
    width: 200px;
    height: 200px;
    transition: 0.5s;
}
.ft1:hover{
    width: 260px;
    height: 260px;
}
.c{
    border-radius: 30px;
    margin-top: 100px;
    width: auto;
    height: 200px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.Ⓒ{
    margin-top: -90px;
}
.facebook{
    position: relative;
    color: black;
    transition: 0.5s;
}
.facebook:hover{
    color: black;
}
.ft2{
    width: 300px;
    height: 370px;
    transition: 0.5s;
    border-radius: 30px;
}
.ft2:hover{
    width: 380px;
    height: 450px;
}
.ft3{
    border-radius: 30px;
    width: 250px;
    height: 200px;
    transition: 0.5s;
}
.ft3:hover{
    width: 310px;
    height: 260px;
}
.ft4{
    border-radius: 30px;
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.ft4:hover{
    width: 360px;
    height: 260px;
}
.ft5{
    border-radius: 30px;
    width: 350px;
    height: 200px;
    transition: 0.5s;
}
.ft5:hover{
    width: 410px;
    height: 260px;
}
.facebook1{
    position: relative;
    color: black;
    transition: 0.5s;
}
.facebook1:hover{
    color: black;
}
@media (max-width: 826px){
    .txt2{
        margin-top: 50px;
        margin-left: 100px;
    }
    .txt{
        width: 300px;
    }
    .txt2{
        margin-left: 100px;
    }
    .facebook{
        margin-right: 10px;
    }
    .facebook1{
        margin-right: 10px;
    }
    .txt1{
        margin-top: -130px;
    }
    .div1{
        height: 150px;
    }
}
.next{
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    margin-top: 45px;
    display: flex; align-items: center;
    transition: 0.7s;
}
.next:hover{
    background-color: rgb(8, 236, 0);
}
.next1{
    margin-top: 13px;
    margin-left: 15px;
}
.o{
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 90%;
}
.o1{
    background-color: rgb(153, 147, 147);
    width: 15px;
    height: 15px;
    border-radius: 90%;
    margin-top: 10px;
}
.o2{
    background-color: rgb(153, 147, 147);
    width: 15px;
    height: 15px;
    border-radius: 90%;
    margin-top: 14px;

}
